.additional-form {
  margin: 0;
  padding: 0;
  border: 0 none;
  margin-top: 22.75px;
}

.additional-form__title {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.additional-form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.additional-form__button {
  margin: 0;
}

.additional-form__description {
  margin-left: 16px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
}

.additional-form__item {
  display: flex;
  align-items: center;
  width: 160px;
}

.additional-form__button[type="checkbox"]:checked+.additional-form__box {
  position: absolute;
  background-image: url(../img/icons/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.additional-form__box{
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background: #FFFFFF;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

@media (min-width: $tablet-width) {
  .additional-form__wrapper {
    display: flex;
    flex-direction: column;
    width: 533px;
  }

  .additional-form__list {
    display: grid;
    grid-template-columns: 280px 280px;
    gap: 32px 64px;
  }

  .additional-form__description {
    font-size: 20px;
    line-height: 30px;
    width: 161px;
  }
}

@media (min-width: $desktop-width) {
  .additional-form__list {
    grid-template-columns: 221px 221px 221px 221px;

  }
}
