.additional {
  margin: 7px 0 35px;
  overflow-x: hidden;
}

.additional__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 36px;
}

.additional__item {
  margin-top: 32px;
}

.additional__title {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin: 0;
  width: 226px;
}

.additional__button {
  padding: 10.5px 109px;
  width: 62px;
}

@media (min-width: $tablet-width) {
  .additional__title {
    width: 408px;
    margin-left: 37px;
    font-size: 36px;
    line-height: 36px;
  }

  .additional__list {
    margin-top: 80px;
    padding: 0 38px;
  }

  .additional__item {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    margin: 0 0 29px;
  }

  .additional__button {
    grid-row: 2;
    padding: 10px 0;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .additional {
    margin: 16px 0 35px;
  }

  .additional__wrapper {
    display: grid;
    grid-template-columns: 895px 245px;
    width: 1218px;
    justify-content: space-between;
    align-items: center;
    margin-left: -9px;
  }

  .additional__list {
    margin: 80px 0 0 0;
    gap: 0;
    padding: 0;
  }

  .product__title {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
    margin: 0;
  }

  .additional__item {
    grid-template-columns: 1fr 244px;
    margin-bottom: 33px;
  }

  .additional__button {
    grid-row: 1;
    grid-column: 2;
  }
}
