.additional {
  margin: 7px 0 35px;
  overflow-x: hidden;

}

.additional__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 36px;
}

.additional__title {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin: 0;
  width: 226px;
}

.additional__button {
  padding: 10.5px 109px;
  width: 62px;
}

@media (min-width: $tablet-width) {
  .additional__title {
    width: 408px;
    margin-left: 37px;
    font-size: 36px;
    line-height: 36px;
  }

  .additional__list {
    margin-top: 71px;
  }

  .additional__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 708px;
    margin: 0;
  }

  .additional__button {
    padding: 8px 220px;
    width: 193px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .additional__wrapper {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
  }

  .additional__list {
    margin: 0;
    width: 896px;
  }

  .product__title {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
    margin: 0;
  }
}
