.advantages {
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  list-style-type: none;
  width: 276px;
  padding: 0;
  margin-top: 40px;
}

.advantages__description {
  width: 200px;
  margin: 0;
}

.advantages__item {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.advantages__image {
  width: 61px;
  height: 60px;
  background-color: #68B738;
}

.advantages__image--tree {
  background-image: url("..//img/icons/tree.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.advantages__image--water {
  background-image: url("..//img/icons/water.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.advantages__image--knife {
  background-image: url("..//img/icons/knife.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.advantages__image--alarm {
  background-image: url("..//img/icons/alarm.svg");
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .advantages {
    font-size: 16px;
    line-height: 24px;
    width: 708px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  .advantages__description {
    font-size: 16px;
    line-height: 24px;
    width: 245px;
  }

  .advantages__item {
    width: 250px;
    margin-bottom: 37px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 31px;
    background-position-x: 130px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .advantages--vitamins {
    background-image: url("../img/1.png");
  }

  .advantages--water {
    background-image: url("../img/2.png");
  }

  .advantages--food {
    background-image: url("../img/3.png");
  }

  .advantages--changes {
    background-image: url("../img/4.png");
  }

  .advantages__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
  }
}


@media (min-width: $desktop-width) {
  .advantages {
    display: flex;
    margin: 0;
    margin-top: 32px;
    width: 1200px;
    flex-wrap: nowrap;
  }

  .advantages__item {
    margin: 0;
    // margin-right: 94px;
    margin-top: 32px;
    width: 250px;
    min-height: 280px;
  }

  .advantages--vitamins {
    background-image: url("..//img/1.png");
    background-repeat: no-repeat;
    background-position-x: 106px;
  }

  .advantages--water {
    background-image: url("..//img/2.png");
    background-repeat: no-repeat;
    background-position-x: 85px;
  }

  .advantages--food {
    background-image: url("..//img/3.png");
    background-repeat: no-repeat;
    background-position-x: 110px;
  }

  .advantages--changes {
    background-image: url("..//img/4.png");
    background-repeat: no-repeat;
    background-position-x: 125px;
  }
}
