.advertising__button {
  padding: 7px 44px;
  width: 192px;
  margin: 0 auto;
}

.advertising__image {
  background-image: url("..//img/bigfood.png");
  min-width: 280px;
  min-height: 270px;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: $tablet-width) {
  .advertising__button {
    padding: 14px 26px;
    width: 192px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 20px;
  }

  .advertising__image {
    background-image: url("..//img/giantfood.png");
    min-width: 709px;
    min-height: 609px;
  }
}

@media (min-width: $desktop-width) {
  .advertising__button {
    padding: 14px 26px;
    width: 192px;
    margin: 0 auto;
  }
}
