.advertising {
  text-align: center;
}

.advertising__button {
  padding: 12px 44px;
  width: 192px;
  margin: 0;
  font-size: 14px;
}

.advertising__image {
  min-height: 270px;
  margin-top: 28px;
  margin-left: -1px;
}

@media (min-width: $tablet-width) {
  .advertising__button {
    padding: 15px 28px;
    width: 192px;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .advertising__image {
    width: 713px;
    height: 623px;
    position: absolute;
    top: 163px;
    left: 71px;
    z-index: -1;
    margin-left: -42px;
  }
}

@media (min-width: $desktop-width) {
  .advertising__button {
    padding: 18px 27px;
    width: 192px;
    margin: 50px 28px 0;
    position: static;
  }

  .advertising__image {
    position: absolute;
    top: -76px;
    right: 0;
    left: calc(50% - 104px);
    width: 524px;
    height: 493px;
  }
}
