.advertising {
  text-align: center;
}

.advertising__button {
  padding: 12px 44px;
  width: 192px;
  margin: 0;
}

.advertising__image {
  min-height: 270px;
  margin-top: 28px;
  margin-left: -24px;
}

@media (min-width: $tablet-width) {
  .advertising__button {
    padding: 15px 28px;
    width: 192px;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .advertising__image {
    width: 709px;
    height: 623px;
    position: absolute;
    top: 163px;
    left: -6px;
    z-index: -1;
  }
}

@media (min-width: $desktop-width) {
  .advertising__button {
    padding: 14px 26px;
    width: 192px;
    margin: 0;
    position: static;
  }

  .advertising__image {
    position: absolute;
    top: 31px;
    right: 0;
    left: calc(50% - 230px);
    width: 552px;
    height: 499px;
  }
}
