.button {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  margin: 0;
}

.button--grey {
  background-color: #F2F2F2;
  margin: 21px 0 25px 0;
  width: 91px;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 98px;
}

.button--green {
  background: #68b738;
    }

@media (min-width: $tablet-width) {
  .button--grey {
    width: 107px;
    padding: 10px 85px;
    margin: 0;
  }

}

@media (min-width: $desktop-width) {
  .button--grey {
    width: 107px;
    padding: 10px 85px;
    margin: 0;
  }
}
