.cards {
  padding: 19px 0px 22px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.cards__link {
  text-decoration: none;
  color: #222222;
}

.cards__button {
  padding: 11px 109px;
  margin: 21px 0 0;
  width: 62px;
}

.cards__title--show {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  margin: 21px 0 -4px;
}

.cards__description {
  font-family: $ff-lato;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
}

.cards__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.cards__img {
  margin: 0 auto;
  margin-left: 20px;
}

.cards__img--chicken500 {
  margin: 14px 0 0 35px;
}

.cards__img--chicken1000 {
  margin: 12px 0 -10px 27px;
}

.cards__img--fish500 {
  margin: 9px 0 -24px 35px;
}

.cards__img--fish1000 {
  margin: 12px 0 -10px 27px;
}

.cards__img--grecha500 {
  margin: 18px 0 -16px 35px;
}

.cards__img--grecha1000 {
  margin: 12px 0 -10px 27px;
}

.cards__img--rise500 {
  margin: 12px 0 -20px 34px;
}

.cards__img--plus {
  width: 30px;
  height: 30px;
  fill: #d3d3d3;
  margin-top: 7px;
  margin-right: auto;
  margin-left: auto;
}

.cards--show {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .cards__wrapper {
    flex-direction: column;
    position: relative;
  }

  .cards {
    margin: 0;
    border: 0;
    background: linear-gradient(0deg, #f2f2f2 84%, #fff 84%);
    min-height: 511px;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 37px;
    box-sizing: border-box;
  }

  .cards--show {
    background: transparent;
    margin-top: 2px;
    border: 2px solid #f2f2f2;
    min-height: 426px;
  }

  .cards__little {
    margin-top: 28px;
  }

  .cards__img {
    margin: 0 auto;
    width: 163px;
  }

  .cards__img--plus {
    width: 64px;
    height: 60px;
    fill: #d3d3d3;
    margin: 0;
    margin-bottom: 24px;
  }

  .cards__title--show {
    font-size: 20px;
    line-height: 22px;
    width: 134px;
    margin-bottom: 31px;
    margin-top: 21px;
  }

  .cards__description {
    width: 165px;
    font-size: 16px;
    line-height: 18px;
    margin: -9px 0 88px;
  }

  .cards__button {
    margin: 0 auto;
    margin-top: 29px;
    width: 65px;
    font-size: 16px;
    padding: 11px 92px;
  }
}

@media (min-width: $desktop-width) {
  .cards__title--show {
    line-height: 21px;
  }

  .cards__img--chicken500 {
    margin-top: 32px;
    margin-right: 17px;
  }

  .cards__img--chicken1000 {
    width: 177px;

  }

  .cards__img--fish500 {
    width: 161px;

  }

  .cards__img--fish1000 {
    width: 172px;

  }

  .cards__img--grecha500 {
    width: 161px;

  }

  .cards__img--grecha1000 {
    width: 171px;

  }

  .cards__img--rise500 {
    width: 163px;

  }

  .cards__button {
    padding: 10px 51px;
    margin: 29px 0 0 0;
  }

  .cards__description {
    margin: -4px 0 87px;
  }
}
