.cards {
  margin: 19px 0;
}

.cards__button {
  padding: 10px 109px;
  margin: 13px 0 14px 0;
  width: 62px;
}

.cards__title--show {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
}

.cards__description {
  font-family: $ff-lato;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
}

.cards__wrapper {
  display: flex;
  align-items: center;
}

.cards__img--chicken500 {
  background-image: url("..//img/chicken500.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 68px;
  height: 86px;
  margin-top: 22px;
}

.cards__img--chicken1000 {
  background-image: url("..//img/chicken1000.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 84px;
  height: 100px;
  margin-top: 8px;
}

.cards__img--fish500 {
  background-image: url("..//img/fish500.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 68px;
  height: 86px;
  margin-top: 22px;
}

.cards__img--fish1000 {
  background-image: url("..//img/fish1000.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 84px;
  height: 100px;
  margin-top: 8px;
}

.cards__img--grecha500 {
  background-image: url("..//img/grecha500.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 68px;
  height: 86px;
  margin-top: 22px;
}

.cards__img--grecha1000 {
  background-image: url("..//img/grecha1000.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 84px;
  height: 100px;
  margin-top: 8px;
}

.cards__img--rise500 {
  background-image: url("..//img/rise500.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 72px;
  height: 86px;
  margin-top: 22px;
}

.cards__img--plus {
  width: 30px;
  height: 30px;
  fill: #D3D3D3;
  margin-top: 120px;
}

.cards--show {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-top: 36px;
  width: 280px;
}


@media (min-width: $tablet-width) {
  .cards__wrapper {
    flex-direction: column;
  }

  .cards {
    margin: 0;
  }

  .cards__button {
    margin: 0;
  }
}
