.cat {
  background-color: #eaeaea;
}

.cat__title--costs {
  margin: 21px 0 0;
}

.cat__wrapper {
  background-color: #eaeaea;
  width: 280px;
  margin: 0;
  margin-top: 50px;
  padding: 25px 0 20px 0;
}

.cat__story--title {
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  width: 230px;
  text-transform: none;
}

.cat__story--description {
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  width: 280px;
  margin-top: 40px;
}

.cat__title {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .cat {
    background: none;
    background-image: linear-gradient(#ffffff 0, #ffffff 60%, #f2f2f2 57%, #f2f2f2 100%);
  }

  .cat__cost {
    margin-top: 8px;
  }

  .cat__wrapper {
    width: 708px;
    background-color: #ffffff;
    min-height: 490px;
    margin: -8px 0 0;
    padding: 25px 0 0;
  }

  .cat__wasted {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 54px;
  }

  .cat__title--costs {
    text-align: right;
    width: 180px;
    font-size: 20px;
    line-height: 20px;
    margin: 0 3px 0;
    min-height: 70px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
}

@media (min-width: $desktop-width) {
  .cat {
    background: none;
    position: relative;
    min-height: 550px;
    margin-top: 30px;
  }

  .cat__wrapper {
    margin: 0;
    padding: 0;
    background: none;
  }

  .cat__container {
    display: flex;
  }

  .cat__title {
    width: 326px;
    margin-top: 41px;
    flex-direction: row;
    margin-left: -9px;
  }

  .cat__cost {
    margin-left: 65px;
    margin-top: 1px;
  }

  .cat__wasted {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 69px;
  }

  .cat-slider {
    background: none;
  }
}
