.catalog-list {
  list-style-type: none;
  padding: 0;
  margin: 40px 0 26px;
}

@media (min-width: $tablet-width) {
  .catalog-list {
    grid-template-columns: 324px 324px;
    display: grid;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 59px 60px;
    align-items: end;
  }
}


@media (min-width: $desktop-width) {
  .catalog-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style-type: none;
    padding: 0;
    margin: 0;
    grid-row-gap: 63px;
    grid-column-gap: 81px;
  }
}
