.catalog-items__title {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 26px 0 0 0;
}


@media (min-width: $tablet-width) {
  .catalog-items__title {
    margin-bottom: 94px;
    margin-top: 63px;
    font-size: 60px;
  }
}


@media (min-width: $desktop-width) {
  .catalog-items__title {
    margin-bottom: 97px;
    margin-top: 55px;
  }
}
