.catalog-list {
  list-style-type: none;
  padding: 0;
  margin: 40px 0 26px;
}

@media (min-width: $tablet-width) {
  .catalog-list {
    grid-template-columns: 324px 324px;
    display: grid;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 708px;
    gap: 60px;
    align-items: end;
  }
}


@media (min-width: $desktop-width) {
  .catalog-list {
    display: grid;
    grid-template-columns: 244px 240px 249px 237px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 245px;
    grid-row-gap: 58px;
    grid-column-gap: 81px;
  }
}
