.catalog-items__title {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .catalog-items__title {
    margin-bottom: 82px;
    margin-top: 65px;
  }
}


@media (min-width: $desktop-width) {
  .catalog-items__title {
    margin-bottom: 84px;
    margin-top: 74px;
  }
}
