.comment {
  padding: 0;
  border: 0 none;
  margin: 9px -2px 0;
}

.comment__title {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.comment__form {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  padding: 9px 16px;
}

.comment__form::placeholder {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}


@media (min-width: $tablet-width) {
  .comment {
    margin: 47px -2px 0;
  }

  .comment__title {
    font-size: 36px;
    line-height: 36px;
    width: 182px;
  }

  .comment__form {
    width: 611px;
    min-height: 157px;
    padding: 15px 0 0 19px;
    margin: 61px 0 0 42px;
  }

  .comment__form::placeholder {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .comment {
    margin: 49px -2px 0
  }

  .comment__form {
    width: 1200px;
    margin: 61px 0 0 -8px;
  }
}
