.contacts {
  border: 0;
  padding: 0;
  margin: 23px 0 0;
  width: 280px;
  overflow-x: hidden;
}

.contacts__title {
  margin: 0 0 36px 0;
  padding: 0;
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  width: 200px;
}

.contacts__wrapper {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

.contacts__description {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  white-space: nowrap;
  padding-right: 10px;
}

.contacts__field {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  width: 100%;
  padding: 12px 13px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
}

.contacts__field:hover {
  border: 1px solid #cdcdcd;
}

.contacts__field:focus {
  box-shadow: 2px solid #444444;
}

.contacts__field--letter {
  background-image: url("../img/icons/letter.svg");
  background-repeat: no-repeat;
  background-position: top 14px left 185px;
}

.contacts__field--phone {
  background-image: url("../img/icons/phone.svg");
  background-repeat: no-repeat;
  background-position: top 13px left 170px;
}


@media (min-width: $tablet-width) {
  .contacts {
    margin: 77px 0 0;
  }

  .contacts__title {
    width: 515px;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    margin-bottom: 73px;
    padding: 0 38px 0 39px;
  }

  .contacts__description {
    font-size: 20px;
    line-height: 30px;
    white-space: nowrap;
  }

  .contacts__field {
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    padding: 12px 18px;
  }

  .contacts__wrapper {
    gap: 13px;
    width: 631px;
    margin-bottom: 17px;
    margin-left: 39px;
  }

  .contacts__field--letter {
    background-position: top 21px left 510px;
  }

  .contacts__field--phone {
    background-position: top 19px left 491px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    margin: 72px 0 0;
  }

  .contacts__container {
    display: flex;
    justify-content: space-between;
    width: 1220px;
  }

  .contacts__title {
    margin: 0 0 73px -40px;
    padding: 0 36px 0 39px;
  }

  .contacts__wrapper {
    margin-left: 0;
    width: 572px;
  }

  .contacts__field--letter {
    background-position: top 21px left 446px;
  }

  .contacts__field--phone {
    background-position: top 20px left 429px;
  }
}
