.days-list__item {
  margin: 0;
}

.days-list {
  position: relative;
}

.days-list::after {
  background-image: url("../img/icons/border.svg");
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;

}

.days-list__item--days {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.days-list__item--time {
  font-family: $ff-lato;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  color: #444444;
  margin: 0 auto;
  margin-top: 7.53px;
  width: 77px;
}

@media (min-width: $tablet-width) {
  .days-list__item--days {
    font-size: 30px;
    line-height: 37px;
  }
}
