.days-list__item {
  margin: 0;
}

.days-list {
  position: relative;
}

.days-list__item--days {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.days-list__item--time {
  font-family: $ff-lato;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  color: #444444;
  margin: 7.53px auto -15px;
  width: 77px;
  background: #eaeaea;
}

@media (min-width: $tablet-width) {
  .days-list__item--days {
    font-size: 30px;
    line-height: 37px;
  }

  .days-list__item--time {
    margin: 10.53px auto -6px;
    width: 142px;
    font-size: 14px;
    background: #ffffff;
  }
}

@media (min-width: $desktop-width) {
  .days-list__item--time {
    margin: 8.53px auto 0;
  }

  .days-list::after {
    top: -16px;
    left: -19px;
    width: 164px;
    height: 84px;
  }
}

