.descriptions {
  width: 140px;
}

.descriptions__title {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 2px 0 15px;
  width: 80px;
  text-transform: uppercase;
}

.descriptions__list {
  display: flex;
  margin: 0;
  justify-content: space-between;
}

.descriptions__item {
  font-family: $ff-lato;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .descriptions {
    margin-top: 31px;
    width: 250px;
  }

  .descriptions__title {
    margin: 0 auto;
    margin-bottom: 21px;
    font-size: 20px;
    line-height: 24px;
    width: 135px;
    text-align: center;
  }

  .descriptions__item {
    font-size: 16px;
    line-height: 16px;
  }

  .descriptions__list {
    margin-bottom: 5px;
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 9px;
  }
}

@media (min-width: $desktop-width) {
  .descriptions {
    margin-top: 40px;
    width: 100%;
  }

  .descriptions__title {
    line-height: 21px;
    margin: 0 auto;
    margin-bottom: 23px;
  }

  .descriptions__list {
    margin-bottom: 4px;
    width: 169px;
    margin-left: auto;
    margin-right: auto;
  }
}
