.general {
  border: 0 none;
  padding: 0;
  margin: 0;
}

.general__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.general__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
