.header-image {
  position: relative;
}

.header-image::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 302px;
  width: 100%;
  background-color: rgba(104, 183, 56, 0.85);
  z-index: -1;
}

.header-image::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -1px;
  height: 302px;
  width: 100%;
  background-image: url("..//img/cat-background.png");
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.header-image__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
}

.header-image__title {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  width: 250px;
  margin: 0;
  margin-top: 27px;

}

.header-image__description {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-align: center;
  margin: 0;
  margin-top: 24px;
  width: 198px;
  text-transform: uppercase;
}


@media (min-width: $tablet-width) {
  .header-image {
    margin-left: 97px;
    min-height: 800px;
    margin-top: 55px;
  }

  .header-image::after {
    display: none;
  }

  .header-image::before {
    display: none;
  }

  .header-image__wrapper {
    width: 440px;
    align-items: flex-start;
  }

  .header-image__title {
    text-align: left;
    width: 420px;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    margin: 0;
  }

  .header-image__description {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    width: 283px;
    color: #000000;
    margin: 42px 0 51px;
  }
}

@media (min-width: $desktop-width) {
  .header-image {
    margin-left: 80px;
    min-height: 576px;
  }

  .header-image__title {
    text-align: left;
    width: 420px;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    margin-top: 23px;
    margin-left: 30px;
  }

  .header-image__description {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    width: 283px;
    color: #000000;
    margin: 40px 0 0 30px;
  }

}
