.main-nav__list {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  list-style-type: none;
  margin: 10px 20px 17.39px;
}

.site-list__link {
  text-decoration: none;
}
