.inviting {
  margin: 0;
  margin-top: 26px;
  background-color: #ffffff;
}

.inviting__adress {
  display: flex;
  width: 280px;
  justify-content: space-between;
  margin: 0;
}

.inviting__title {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.inviting___description {
  font-family: $ff-lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  text-align: left;
}

@media (min-width: $tablet-width) {
  .inviting__adress {
    width: 728px;
  }

  .inviting__title {
    width: 171.82px;
    font-size: 20px;
    line-height: 26px;
  }

  .inviting___description {
    width: 159.76px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }

  .inviting___description--town {
    margin-top: 20px;
    display: block;
  }
}


@media (min-width: $desktop-width) {
  .inviting {
    margin: 0;
  }
}
