.inviting {
  margin: 0;
  background-color: #ffffff;
  padding: 26px 0 0;
}

.inviting--catalog {
  padding: 33px 0 0;
}

.inviting__adress {
  display: flex;
  width: 280px;
  justify-content: space-between;
  margin: -10px 0 11px;
  gap: 1px;
}

.inviting__adress--catalog {
  margin: -20px 0 10px;
}

.inviting__adress--form {
  margin: 19px 0 11px;
  gap: 0;
}

.inviting__title {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  flex: 0 0 50%;
  max-width: 160px;
}

.inviting___description {
  font-family: $ff-lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  text-align: left;
}

@media (min-width: $tablet-width) {
  .inviting--form {
    padding: 0;
    margin-top: 75px;
  }

  .inviting__adress {
    width: 728px;
    gap: 306px;
    align-items: center;
    justify-content: flex-start;
    margin: 17px 0 45px;
  }

  .inviting__adress--catalog {
    width: 670px;
    margin: 52px 0 44px;
  }

  .inviting__title {
    width: 171.82px;
    font-size: 20px;
    line-height: 26px;
    margin-left: 41px;
  }

  .inviting___description {
    width: 159.76px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }

  .inviting___description--town {
    margin-top: 20px;
    display: block;
  }
}


@media (min-width: $desktop-width) {
  .inviting {
    margin: 0;
    position: relative;
  }

  .inviting__adress {
    position: absolute;
    right: 0;
    top: 105px;
    left: 110px;
    width: 425px;
    background-color: #ffffff;
    padding: 56px 60px 44px 80px;
  }

  .inviting__adress--catalog {
    top: 170px;
    right: 706px;
    left: 0;
    position: absolute;
    top: 105px;
    left: 110px;
    width: 425px;
    background-color: #fff;
    padding: 40px 61px 26px 81px;
    margin: 23px 0 44px;
    gap: 92px;
  }

  .inviting___description {
    text-align: left;
    width: 121px;
    font-size: 16px;
    line-height: 20px;
  }

  .inviting___description--text {
    margin-left: -215px;
    margin-top: 0;
  }

  .inviting___description--town {
    margin-top: 0;
  }

  .inviting__title {
    margin-left: -2px;
    margin-top: 4px;
  }

  .inviting__adress--form {
    padding: 39px 60px 26px 82px;
    margin: -10px 0 45px;
    gap: 90px;
  }
}
