.legend {
  margin: 0;
  margin-top: 21px;
  margin-bottom: 32px;
}

.legend__text {
  font-family: $ff-lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  justify-content: center;
}
