.main-nav {
  position: relative;

}

.main-nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 8px;
  position: absolute;
  width: 280px;
  background-color: #ffffff;
}


@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    height: 36px;
    width: 565px;
    align-items: center;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}


@media (min-width: $desktop-width) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 33px;
  }

  .main-nav {
    margin-top: 69px;
  }
}
