.main-header {
  display: flex;
  flex-direction: column;
  color: #000000;
  background-color: #ffffff;
  position: relative;
  border-bottom: 1px solid #d9d9d9;
}

.main-header__logo-image {
  margin-top: -11px;
}

.main-header__logo-catalog {
  margin: -7px 0 0 0;
  width: 203px;
}

.main-header__logo-image--form {
  margin-top: -5px;
  width: 202px;
}

.main-header__wrapper {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 6px;
  width: 280px;
}

.main-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 38px;
  width: 280px;
}

.main-header__container--form {
  margin-top: -3px;
}

.main-header__toggle {
  display: block;
  width: 24px;
  height: 16px;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  position: relative;
}


.main-header--closed .main-header__toggle::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

.main-header--closed .main-header__toggle--catalog::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

.main-header--opened .main-header__toggle::before,
.main-header--opened .main-header__toggle::after {
  content: "";
  position: absolute;
  top: 9px;
  left: -3px;
  width: 30px;
  height: 2px;
  background-color: #000000;
}

.main-header--opened .main-header__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}

.main-header--opened .main-header__toggle::after {
  transform: rotate(-45deg);
}


.main-header--opened .site-list {
  display: block;
}

.main-header--closed .site-list {
  display: none;
}


.main-header--nojs .main-header__toggle {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-header {
    border-bottom: 0;
  }

  .main-header--closed .site-list {
    display: flex;
  }

  .main-header__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
  }

  .main-header__wrapper--catalog {
    margin: 0;
    margin-top: 6px;
  }

  .main-header__toggle::before {
    display: none;
  }

  .main-header__container {
    height: 51.68px;
    display: block;
    width: 176px;
  }

  .main-header-logo {
    display: none;
  }

  .main-header__vector {
    display: none;
  }

  .main-header__logo:hover {
    opacity: 0.6;
  }

  .main-header__logo:active {
    opacity: 0.3;
  }
}

@media (min-width: $desktop-width) {
  .main-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1227px;
    margin: 33px -10px 0;
  }

  .main-header__logo-image {
    margin-top: -33px;
  }

  .main-header__logo-catalog {
    margin: -31px 0 0;
  }

  .main-header--cat {
    position: relative;
  }

  .main-header--cat::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 694px;
    width: 50%;
    background-color: rgba(104, 183, 56, 0.85);
    z-index: -1;
  }

  .main-header--cat::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 694px;
    width: 50%;
    background-image: url("../img/catright.png");
    z-index: -2;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
  }

  @media (min-resolution: 2dppx) {
    .main-header--cat::before {
      background-image: url("..//img/catright_2x.png");
    }
  }

  .main-header__container {
    height: 59px;
    width: 202px;
    margin-top: 53px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-header {
    background: none;
  }
}
