.main-nav {
  // position: relative;

}

.main-nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 8px;
  width: 280px;
  background-color: #ffffff;
  position: absolute;
  z-index: 1;

}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    height: 36px;
    width: 527px;
    align-items: center;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 560px;
    position: static;
  }

}


@media (min-width: $desktop-width) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 33px;
    width: 587px;
    background: none;
  }

  .main-nav {
    margin-top: 69px;
    width: 590px;
    position: relative;
  }

  .main-nav::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    height: 694px;
    width: 720px;
    background-color: rgba(104, 183, 56, 0.85);
    z-index: -1;
  }

  .main-nav::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    height: 694px;
    width: 720px;
    background-image: url("../img/catright.png");
    z-index: -2;
  }
}
