.main-footer__social {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 24px;
  list-style-type: none;
}

.main-footer {
  background-color: #F2F2F2;
}
