.map__wrapper {
  width: 100%;
  height: 362px;
  border: none;
}

@media (min-width: $tablet-width) {
  .map__wrapper {
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .map__wrapper {
    height: 600px;
  }
}
