.posting {
  margin: 42px 0 0;
  padding: 0;
  border: 0 none;
}

.posting__link {
  padding: 11px 0;
  width: 281px;
  border: 0;
  margin: -5px 2px 21px;
}

@media (min-width: $tablet-width) {
  .posting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 540px;
    gap: 20px;
  }

  .posting__link {
    width: 332px;
    padding: 16px 0;
    font-size: 20px;
    line-height: 20px;
    margin: 16px 41px 21px;
  }
}

@media (min-width: $desktop-width) {
  .posting__link {
    width: 568px;
    padding: 15px 61px;
    margin: 25px 0 21px;
    flex-shrink: 0;
  }

  .posting {
    gap: 81px;
    width: 830px;
    margin-bottom: 0;
    padding-bottom: 62px;
  }
}
