.present {
  background-color: rgba(104, 183, 56, 0.85);
  margin-top: 35.12px;
}

.present__description {
  font-family: $ff-lato;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}
