.present__container {
  background-image: url("..//img/catsecond.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(104, 183, 56, 0.85);
  margin-top: 56.12px;
  width: 280px;
  min-height: 289.88px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.present__container::before {
  background-image: url("../img/icons/gift.svg");
  background-repeat: no-repeat;
  content: "";
  width: 78px;
  height: 80px;
  z-index: 1;
  position: absolute;
  top: 59px;
  left: 101px;
}

.present__container::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(104, 183, 56, 0.85);
  z-index: 0;
  width: 280px;
  min-height: 289.88px;
}


.present__description {
  font-family: $ff-lato;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  width: 161px;
  z-index: 1;
  margin: 144px 0 0;
}

@media (min-width: $tablet-width) {
  .present__container {
    width: 707px;
    min-height: 200px;
    background-size: cover;
    flex-direction: row;
    gap: 265px;
    position: relative;
    background-position-y: -325px;
    margin-top: 82.12px;
    justify-content: flex-end;
  }

  @media (min-resolution: 2dppx) {
    .present__container {
      background-image: url("..//img/catsecond_2x.png");
    }
  }

  .present__container::after {
    width: 707px;
    min-height: 202px;
  }

  .present__container::before {
    top: 60px;
    left: 81px;
  }

  .present__description {
    margin: 8px 123px 0;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .present__container {
    width: 245.02px;
    min-height: 289px;
    margin: 49px 0 0;
    background-position: center;
  }

  .present__container::after {
    width: 246px;
    min-height: 290px;
  }

  .present__description {
    text-align: center;
    margin: 143px auto 0;
  }

  .present__container::before {
    top: 57px;
    left: 86px;
  }
}
