.product__list {
  display: flex;
  font-family: $ff-lato;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  color: #444444;
  margin: 13px 0 15px 0;
  width: 280px;
  justify-content: space-between;
}

.product__title {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
}

.product__item {
  text-align: right;
  margin: 0;
  font-size: 16px;
  line-height: 16px;
}


@media (min-width: $tablet-width) {
  .product {
    min-height: 110px;
    margin-top: 0;
  }

  .product__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .product__title {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .product__item {
    font-size: 16px;
    line-height: 20px;
  }

  .product__list {
    justify-content: flex-end;
    gap: 0 53px;
    margin: 0;
    padding-top: 5px;
    width: auto;
  }
}

@media (min-width: $desktop-width) {
  .product {
    min-height: auto;
  }

  .product__item {
    align-items: flex-start;
    text-align: left;
    margin: 0;
  }

  .product__list {
    min-width: 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 45px;
    margin-top: 0;
  }
}
