.program {
  overflow: hidden;
}

.program__form {
  margin-top: 43px;
}

.program__title {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  padding: 0;
  margin: 27px 0 0;
  text-align: center;
  width: 260px;
}

.program__description {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  padding: 0;
  margin: 0;
  margin-top: 37px;
  text-align: left;
  width: 226px;
}

@media (min-width: $tablet-width) {
  .program__title {
    font-size: 60px;
    line-height: 60px;
    width: 433px;
    margin: 59px 39px 0;
  }

  .program__description {
    width: 323px;
    font-size: 20px;
    line-height: 30px;
    margin-top: 54px;
    margin-left: 40px;
  }

  .program__form {
    margin-top: 70px;
  }
}

@media (min-width: $desktop-width) {
  .program__title {
    margin: 42px -11px 0;
  }

  .program__description {
    margin-top: 56px;
    margin-left: -10px;
  }
}
