.results {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 32px;
  width: 280px;
  margin: 0 auto;
  margin-top: 20px;
}

.results__list {
  display: block;
  align-items: center;
  justify-content: center;
  width: 124px;
}

@media (min-width: $tablet-width) {
  .results {
    margin: 0 0 0 19px;
    gap: 80px;
    width: 326px;
  }

}
