.results__list {
  display: block;
  align-items: center;
  justify-content: center;
}

.weight-result__item {
  margin: 0;
}

.days-list__item {
  margin: 0;
}

.weight-result__item--kilo {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.weight-result__item--description {
  font-family: $ff-lato;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  color: #444444;
}

.days-list__item--days {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.days-list__item--time {
  font-family: $ff-lato;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  color: #444444;
}
