.site-list__link {
  font-family: $main-font;
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  width: 181px;

}

.site-list__item {
  text-align: center;
  padding: 22px 0 24px;
  border-top: 1px solid #E6E6E6;
}

@media (min-width: $tablet-width) {
  .site-list__item {
    width: 154px;
    text-align: right;
    margin-right: 34px;
    border: none;
  }

  .site-list__link {
    font-size: 18px;
    line-height: 24px;
    position: relative;
  }

  .site-list__link:hover {
    opacity: 0.6;
  }

  .site-list__link:disabled {
    opacity: 0.3;
  }

  .site-list__link--line::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    bottom: -9px;
    background-color: #68B738;
  }
}

@media (min-width: $desktop-width) {
  .site-list__link {
    text-align: right;
    line-height: 30px;
    font-size: 20px;
  }

  .site-list__link--main {
    color: #ffffff;
  }

  .site-list__link--line::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    bottom: -4px;
    background-color: #000000;
  }

  .site-list__link--first::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    bottom: -9px;
    background-color: #ffffff;
  }

  .site-list__item {
    margin: 0;
    width: 174px;
  }

  .site-list__link--catalog .site-list__link--line::before {
    bottom: -10px;
  }
}
