.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 20px 0;
  margin: 15px auto 22px;
  border: 0 none;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  gap: 32px;
}

.social__list--catalog {
  margin: 15px auto 17px;
}

.social__list--form {
  margin: 4px auto 15px;
}

.social__item {
  margin-left: -5px;
  margin-top: 4px;
}

.social__link {
  color: #666666;
}

.social__link:hover {
  color: #68B738;
}

.social__link:active {
  opacity: 0.3;
}

.social__link--academy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 287px;
  margin-top: -6px;
}

.social__link--catalog {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .social {
    margin: 0;
    border: none;
  }

  .social__link--academy {
    display: flex;
    justify-content: baseline;
    gap: 16px;
    margin-left: 10px;
    margin-top: 3px;
  }

  .social__list {
    gap: 0;
  }

  .social__list--catalog {
    margin-left: 116px;
    margin-top: 3px;
  }

  .social__item {
    margin-left: 28px;
    margin-top: 5px;
  }

  .social__link--catalog {
    gap: 18px;
    margin-top: 3px;
    justify-content: flex-end;
  }
}

@media (min-width: $desktop-width) {
  .social__link--academy {
    margin-top: 11px;
    width: 167px;
  }

  .social__link--catalog {
    margin-top: 11px;
    width: 171px;
  }

  .social__list--catalog {
    margin-left: 0px;
    margin-top: 3px;
  }
}
