.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 20px 0;
  margin: 15px auto 22px;
  border: 0 none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  gap: 32px;
}

.social-list--catalog {
  margin: 15px auto 17px;
}

.social-list--form {
  margin: 4px auto 15px;
}

.social__item {
  margin-left: -5px;
  margin-top: 4px;
}

.social__link {
  color: #666666;
}

.social__link:hover {
  color: #68b738;
}

.social__link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .social {
    margin: 0;
    border: none;
  }

  .social-list {
    gap: 0;
  }

  .social-list--index {
    margin-left: -9px;
  }

  .social-list--catalog {
    margin-left: -9px;
    margin-top: 2px;
  }

  .social__item {
    margin-left: 28px;
    margin-top: 5px;
  }
}

@media (min-width: $desktop-width) {
  .social-list--form {
    margin: 4px 0 0 0;
  }
}
