.weight-loss {
  position: relative;
}

.weight-loss__title {
  color: #000000;
  font-size: 24px;
  line-height: 37px;
  width: 137px;
  margin: -1px 49px 29px 71px;
}

.weight-loss__description {
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  margin-top: 29px;
}

.weight-loss__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 0;
  width: 139px;
  text-decoration: none;
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: 38px;
  position: relative;
}

.weight-loss__link::before {
  position: absolute;
  background-image: url("../img/icons/archer.svg");
  top: 6px;
  left: 101px;
  content: "";
  background-repeat: no-repeat;
  width: 25px;
  height: 20px;

}

.weight-loss::before {
  position: absolute;
  background-image: url("../img/icons/little-cat.svg");
  background-repeat: no-repeat;
  content: "";
  width: 52px;
  height: 52px;
  left: 22px;
  top: 20px;
}

@media (min-width: $tablet-width) {
  .weight-loss__title {
    width: 206px;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
  }

  .weight-loss__description {
    font-size: 16px;
    line-height: 24px;
    width: 340px;
    margin: 24px 52px 48px 0;
  }

  .weight-loss__link {
    font-size: 20px;
    line-height: 30px;
    width: 165px;
    margin: 0;
  }

  .weight-loss::before {
    position: absolute;
    background-image: url("../img/icons/cat_back.svg");
    background-repeat: no-repeat;
    content: "";
    width: 200px;
    height: 211px;
    left: 445px;
    top: 82px;
  }

  .weight-loss__link::before {
    top: 13px;
    left: 133px;
  }
}

@media (min-width: $desktop-width) {
  .weight-loss__title {
    width: 206px;
    font-size: 36px;
    line-height: 36px;
    margin: -2px 0 0 162px;
  }

  .weight-loss__description {
    font-size: 16px;
    line-height: 24px;
    width: 457px;
    margin: 73px 52px 23px 0;
  }

  .weight-loss__link {
    font-size: 20px;
    line-height: 30px;
    width: 165px;
    margin: 0;
  }

  .weight-loss::before {
    width: 100px;
    height: 106px;
    left: 42px;
    top: 41px;
    background-size: contain;
  }
}
