.weight-result {
  position: relative;
}

.weight-result__item {
  margin: 0;
}

.weight-result__item--kilo {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.weight-result__item--description {
  font-family: $ff-lato;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  color: #444444;
  margin: 7.53px auto -15px;
  width: 77px;
  background: #eaeaea;
}

@media (min-width: $tablet-width) {
  .weight-result__item--description {
    margin: 10.53px auto -6px;
    width: 114px;
    font-size: 14px;
    background: #ffffff;
  }

  .weight-result__item--kilo {
    font-size: 30px;
    line-height: 37px;
  }
}

@media (min-width: $desktop-width) {
  .weight-result__item--description {
    margin: 9.53px auto -7px;
  }

  .weight-result__item::after {
    top: -17px;
    left: -21px;
    width: 170px;
    height: 77px;
  }
}
