.weight-working {
  width: 227px;
  background-color: #F2F2F2;
  margin: 0;
  margin-top: 20px;
  padding: 30px 33px 18px 20px;
}

@media (min-width: $tablet-width) {
  .weight-working {
    width: 594px;
    padding: 77px 62px 53px 52px;
    margin: 0;
    margin-top: 10px;
  }

  .weight-working--up {
    margin: 0;
    padding: 77px 62px 83px 52px;
  }
}

@media (min-width: $desktop-width) {
  .weight-working {
    width: 457px;
  }

  .weight-working--down {
    padding: 77px 60px 55px 53px;
    margin: 0 -2px 0;
  }

  .weight-working--up {
    margin: 0 0 0 135px;
    padding: 77px 62px 0 52px;
  }
}
