.weight-up {
  position: relative;
}

.weight-up__title {
  color: #000000;
  font-size: 24px;
  line-height: 37px;
  width: 137px;
  margin: 0 79px 29px 71px;
}

.weight-up__description {
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  margin-top: 29px;
}

.weight-up__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 0;
  width: 139px;
  text-decoration: none;
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: 38px;
  position: relative;
}

.weight-up__link::before {
  position: absolute;
  content: "";
  background-image: url("../img/icons/archer.svg");
  top: 6px;
  left: 97px;
  width: 25px;
  height: 20px;
  background-repeat: no-repeat;
}

.weight-up::before {
  position: absolute;
  background-image: url("../img/icons/cat_fat.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  width: 67px;
  height: 50px;
  left: 13px;
  top: 24px;
}

@media (min-width: $tablet-width) {
  .weight-up__title {
    width: 206px;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
  }

  .weight-up__description {
    font-size: 16px;
    line-height: 24px;
    width: 340px;
    margin: 24px 52px 48px 0;
  }

  .weight-up__link {
    font-size: 20px;
    line-height: 30px;
    width: 165px;
    margin: 0;
  }

  .weight-up::before {
    position: absolute;
    background-image: url("../img/icons/cat_fat.svg");
    background-repeat: no-repeat;
    content: "";
    width: 268px;
    height: 200px;
    left: 413px;
    top: 89px;
  }
}

@media (min-width: $desktop-width) {
  .weight-up__description {
    width: 457px;
    margin: 73px 52px 48px 0;
  }

  .weight-up::before {
    width: 134px;
    height: 100px;
    left: 337px;
    top: 65px;
    background-size: contain;
  }
}
