.working {
  background-color: white;
  margin: 20px 20.5px 49px;
}

.working__title {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: black;
}


.advantages {
  font-size: 14px;
  line-height: 18px;
  font-family: $ff-lato;
  font-style: normal;
  font-weight: 400;
  color: #444444;
  list-style-type: none;
}
